<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增个人简介')" />
    <th:block th:include="include :: select2-css" />
    <th:block th:include="include :: summernote-css" />
    <th:block th:include="include :: bootstrap-fileinput-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-resume-add">
            <div class="form-group">    
                <label class="col-sm-3 control-label">姓名：</label>
                <div class="col-sm-8">
                    <input name="name" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">英文名称：</label>
                <div class="col-sm-8">
                    <input name="englishName" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">照片：</label>
                <input id= "imgUrl_1"  name="imageUrl" type="hidden">
                <div class="col-sm-8">
                    <input id="imgUrl" name="file" type="file" >
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">邮箱：</label>
                <div class="col-sm-8">
                    <input id="email" name="email" class="form-control email" type="text" maxlength="50" placeholder="请输入邮箱" >
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">职位：</label>
                <div class="col-sm-8">
                    <select name="position" class="form-control m-b" th:with="type=${@dict.getType('flz_lawyer_ position')}">
				    	<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
				    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">领域：</label>
                <div class="col-sm-8">
                    <select name="territoryIds" class="form-control select2-multiple" multiple>
						<option th:each="list:${territoryList}" th:value="${list.id}" th:text="${list.territoryName}"></option>
					</select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">办公地址：</label>
                <div class="col-sm-8">
                    <input name="address" class="form-control" type="text">
                </div>
            </div>
              <div class="form-group">    
                <label class="col-sm-3 control-label">介绍：</label>
                <div class="col-sm-8">
                    <input id="noticeContent" name="recommend" type="hidden">
				    <div class="summernote"></div>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: select2-js" />
    <th:block th:include="include :: summernote-js" />
    <th:block th:include="include :: bootstrap-fileinput-js" />
    <script type="text/javascript">
        var prefix = ctx + "system/resume"
        
        $('.summernote').summernote({
	    	placeholder: '请输入内容',
			height : 192,
			lang : 'zh-CN',
			tabsize: 2,
			followingToolbar: false,
			callbacks: {
                onImageUpload: function (files) {
                    sendFile(files[0], this);
                }
            },
            fontSizes: ['8', '9', '10', '11', '12', '14', '15', '16', '17', '18', '24'],
            toolbar: [
                    // [groupName, [list of button]]
                    ['style', ['bold', 'italic', 'underline', 'clear']],
                    ['font', ['strikethrough', 'superscrip{过滤}t', 'subscrip{过滤}t']],
                    ['fontsize', ['fontsize']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['height', ['height']]
              ]
		});
	    
	    // 上传文件
	    function sendFile(file, obj) {
	        var data = new FormData();
	        data.append("file", file);
	        $.ajax({
	            type: "POST",
	            url: ctx + "common/upload",
	            data: data,
	            cache: false,
	            contentType: false,
	            processData: false,
	            dataType: 'json',
	            success: function(result) {
	                if (result.code == web_status.SUCCESS) {
	                	$(obj).summernote('editor.insertImage', result.url, result.fileName);
					} else {
						$.modal.alertError(result.msg);
					}
	            },
	            error: function(error) {
	                $.modal.alertWarning("图片上传失败。");
	            }
	        });
	    }
        $("#form-resume-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
            	var sHTML = $('.summernote').summernote('code');
				$("#noticeContent").val(sHTML);
                $.operate.save(prefix + "/add", $('#form-resume-add').serialize());
            }
        }
        
        $(document).ready(function () {
	        $("#imgUrl").fileinput({
	            'theme': 'explorer-fas',
	            'uploadUrl': '/system/article/upload',
	            overwriteInitial: false,
	            initialPreviewAsData: true,
	            initialPreview: [
	                
	            ]
	        });
	        
	        var a = [];
	     // 上传成功回调
	        $('#imgUrl').on('fileuploaded', function(event, data, previewId, index) {
	        	a.push(data.response.msg)
	        	$("#imgUrl_1").val(a)
	        });
	     
	    });
    </script>
</body>
</html>