<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改个人简介')" />
    <th:block th:include="include :: select2-css" />
    <th:block th:include="include :: summernote-css" />
    <th:block th:include="include :: bootstrap-fileinput-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-resume-edit" th:object="${jsResume}">
            <input name="id" th:field="*{id}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label">姓名：</label>
                <div class="col-sm-8">
                    <input name="name" th:field="*{name}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">英文名称：</label>
                <div class="col-sm-8">
                    <input name="englishName" th:field="*{englishName}" class="form-control" type="text">
                </div>
            </div>
             <div class="form-group">    
                <label class="col-sm-3 control-label">照片：</label>
                <input id= "imgUrl_1"  name="imageUrl" th:field="*{imageUrl}"type="hidden">
                <div class="col-sm-8">
                    <input id="imgUrl" name="file" type="file" >
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">邮箱：</label>
                <div class="col-sm-8">
				    <input id="email" name="email" class="form-control email" type="text" maxlength="50" placeholder="请输入邮箱" th:field="*{email}">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">职位：</label>
                <div class="col-sm-8">
                   <select name="position" class="form-control m-b" th:with="type=${@dict.getType('flz_lawyer_ position')}">
				    	<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{position}"></option>
				    </select>
                </div>
            </div>
             <div class="form-group">    
                <label class="col-sm-3 control-label">专业领域：</label>
                <div class="col-sm-8">
                   <select name="territoryIds" class="form-control select2-multiple" multiple>
						<option th:each="list:${list}" th:value="${list.id}" th:text="${list.territoryName}" th:selected="${list.flag}" ></option>
					</select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">地址：</label>
                <div class="col-sm-8">
                    <input name="address" th:field="*{address}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">介绍：</label>
                <div class="col-sm-8">
                    <input id="noticeContent" name="recommend" th:field="*{recommend}" type="hidden">
                    <div id="editor" class="summernote"></div>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: select2-js" />
    <th:block th:include="include :: summernote-js" />
    <th:block th:include="include :: bootstrap-fileinput-js" />
    <script type="text/javascript">
        var prefix = ctx + "system/resume";
        
        $(function() {
        	$('.summernote').summernote({
    	    	placeholder: '请输入内容',
    			height : 192,
    			lang : 'zh-CN',
    			tabsize: 2,
    			followingToolbar: false,
    			callbacks: {
                    onImageUpload: function (files) {
                        sendFile(files[0], this);
                    }
                },
                fontSizes: ['8', '9', '10', '11', '12', '14', '15', '16', '17', '18', '24'],
                toolbar: [
                        // [groupName, [list of button]]
                        ['style', ['bold', 'italic', 'underline', 'clear']],
                        ['font', ['strikethrough', 'superscrip{过滤}t', 'subscrip{过滤}t']],
                        ['fontsize', ['fontsize']],
                        ['color', ['color']],
                        ['para', ['ul', 'ol', 'paragraph']],
                        ['height', ['height']]
                  ]
    		});
			var content = $("#noticeContent").val();
		    $('#editor').summernote('code', content);
	    });
	    
        // 上传文件
	    function sendFile(file, obj) {
	        var data = new FormData();
	        data.append("file", file);
	        $.ajax({
	            type: "POST",
	            url: ctx + "common/upload",
	            data: data,
	            cache: false,
	            contentType: false,
	            processData: false,
	            dataType: 'json',
	            success: function(result) {
	                if (result.code == web_status.SUCCESS) {
	                	$(obj).summernote('editor.insertImage', result.url, result.fileName);
					} else {
						$.modal.alertError(result.msg);
					}
	            },
	            error: function(error) {
	                $.modal.alertWarning("图片上传失败。");
	            }
	        });
	    }
        $("#form-resume-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
            	var sHTML = $('.summernote').summernote('code');
				$("#noticeContent").val(sHTML);
                $.operate.save(prefix + "/edit", $('#form-resume-edit').serialize());
            }
        }
        
        $(document).ready(function () {
			 var aa = $("#imgUrl_1").val()
		        $("#imgUrl").fileinput({
		            'theme': 'explorer-fas',
		            'uploadUrl': '/system/article/upload',
		            overwriteInitial: false,
		            allowedFileTypes: ['image'],
		            initialPreviewAsData: true,
		            initialPreview: [
		            	aa
		            ]
		        });
		        
		        var a = [];
		     // 上传成功回调
		        $('#imgUrl').on('fileuploaded', function(event, data, previewId, index) {
		        	a.push(data.response.msg)
		        	$("#imgUrl_1").val(a)
		        });
		     
		    });
    </script>
</body>
</html>