<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增案例')" />
    <th:block th:include="include :: summernote-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-case-add">
            <div class="form-group">    
                <label class="col-sm-3 control-label">标题：</label>
                <div class="col-sm-8">
                    <input name="caseTitle" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">案例类型：</label>
                <div class="col-sm-8">
                    <select name="categoryId" class="form-control m-b" th:with="type=${@dict.getType('flz_case_type')}">
				    	<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
				    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">是否首页展示：</label>
                <div class="col-sm-8">
					<label><input name="isShow" type="radio" value="0" checked/>不展示 </label> 
					<label><input name="isShow" type="radio" value="1" />展示 </label> 
                </div>
            </div>
            <div class="form-group" id="fy">    
                <label class="col-sm-3 control-label">法院：</label>
                <div class="col-sm-8">
                    <input name="courtName" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group" id="pj">    
                <label class="col-sm-3 control-label">判决形式：</label>
                <div class="col-sm-8">
                    <input name="sentenceType" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group" id="bde">    
                <label class="col-sm-3 control-label">标的额：</label>
                <div class="col-sm-8">
                    <input name="targetAmount" class="form-control" type="text">
                </div>
            </div>
             <div class="form-group">    
                <label class="col-sm-3 control-label">描述：</label>
                <div class="col-sm-8">
                    <textarea name="caseDepict" maxlength="500" class="form-control" rows="3" ></textarea>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">内容：</label>
                <div class="col-sm-8">
                    <input id="noticeContent" name="catDesc" type="hidden">
				    <div class="summernote"></div>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: summernote-js" />
    <script type="text/javascript">
        var prefix = ctx + "system/case"
        
        $('.summernote').summernote({
	    	placeholder: '请输入内容',
			height : 192,
			lang : 'zh-CN',
			tabsize: 2,
			followingToolbar: false,
			callbacks: {
                onImageUpload: function (files) {
                    sendFile(files[0], this);
                }
            },
            fontSizes: ['8', '9', '10', '11', '12', '14', '15', '16', '17', '18', '24'],
            toolbar: [
                    // [groupName, [list of button]]
                    ['style', ['bold', 'italic', 'underline', 'clear']],
                    ['font', ['strikethrough', 'superscrip{过滤}t', 'subscrip{过滤}t']],
                    ['fontsize', ['fontsize']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['height', ['height']]
              ]
		});
	    
	    // 上传文件
	    function sendFile(file, obj) {
	        var data = new FormData();
	        data.append("file", file);
	        $.ajax({
	            type: "POST",
	            url: ctx + "common/upload",
	            data: data,
	            cache: false,
	            contentType: false,
	            processData: false,
	            dataType: 'json',
	            success: function(result) {
	                if (result.code == web_status.SUCCESS) {
	                	$(obj).summernote('editor.insertImage', result.url, result.fileName);
					} else {
						$.modal.alertError(result.msg);
					}
	            },
	            error: function(error) {
	                $.modal.alertWarning("图片上传失败。");
	            }
	        });
	    }
        $("#form-case-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
            	var sHTML = $('.summernote').summernote('code');
				$("#noticeContent").val(sHTML);
                $.operate.save(prefix + "/add", $('#form-case-add').serialize());
            }
        }
        var radioValue = $('input:radio[name="isShow"]:checked').val();
  	   	if(radioValue == 0){
  	   		$("#fy").hide();
  	      	$("#pj").hide();
  	      	$("#bde").hide();
  	     }
  		if(radioValue == 1){
  	   		$("#fy").show();
  	      	$("#pj").show();
  	      	$("#bde").show();
  	     }

        $("input[name=isShow]").click(function(){
        	 var radioValue = $('input:radio[name="isShow"]:checked').val();
      	   	if(radioValue == 0){
      	   		$("#fy").hide();
      	      	$("#pj").hide();
      	      	$("#bde").hide();
      	     }
      		if(radioValue == 1){
      	   		$("#fy").show();
      	      	$("#pj").show();
      	      	$("#bde").show();
      	     }
        
        });
        	
   	
        
        
    </script>
    
</body>
</html>