<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('林律师咨询列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <p>姓名：</p>
                                <input type="text" name="name"/>
                            </li>
                            <li>
                                <p>手机号：</p>
                                <input type="text" name="mobile"/>
                            </li>
                            <li>
                                案例类型：<select name="category" th:with="type=${@dict.getType('flz_consult_caseType')}">
										<option value="">--请选择--</option>
										<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
									</select>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <!-- <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:consult:edit">
                    <i class="fa fa-edit"></i> 修改状态
                </a> -->
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
    	var datas = [[${@dict.getType('flz_consult_caseType')}]];
    	var datas1 = [[${@dict.getType('flz_consult_status')}]];
        var editFlag = [[${@permission.hasPermi('system:linLawyerConsult:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:linLawyerConsult:remove')}]];
        var prefix = ctx + "system/linLawyerConsult";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "咨询",
                columns: [{
                    checkbox: true
                },
                {
                    field : 'id', 
                    title : 'id',
                    visible: false
                },
                {
                    field : 'name', 
                    title : '姓名'
                },
                {
                    field : 'mobile', 
                    title : '手机号'
                },
                {
                    field : 'address', 
                    title : '住址'
                },
                {
                    field : 'category', 
                    title : '案件类型',
                    formatter: function(value, row, index) {
		            	return $.table.selectDictLabel(datas, value);
		            }
                },
                {
                    field : 'status', 
                    title : '处理状态 ',
                    formatter: function(value, row, index) {
		            	return $.table.selectDictLabel(datas1, value);
		            }
                },
                {
                    field : 'createTime', 
                    title : '创建时间 '
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                    	
                    	if (row.status == '0') {
							 var actions = [];
							 actions.push('<a class="btn btn-info  btn-xs" href="#" mce_href="#" title="标记为已联系" onclick="updateStatus(\''
										+ row.id
										+ '\')"><i>标记为已联系</i></a> ');
							 actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>查看案件详情</a> ');
	                         return actions.join('');
						} else {
							 var actions = [];
							 actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>查看案件详情</a> ');
	                         return actions.join('');
						}
                    	
                    }
                }]
            };
            $.table.init(options);
        });
        
        function updateStatus(id) {
            layer.confirm('确定要修改其状态吗？', {
                btn: ['确定', '取消']
            }, function () {
                $.ajax({
                    url: prefix + "/updateStatus",
                    type: "post",
                    data: {
                        'id': id
                    },
                    success: function (data) {
                        if (data.code == 0) {
                            layer.msg("修改成功");
                            location.reload(true);
                        } else {
                            layer.msg(data.msg);
                        }
                    }
                });
            })
        }
    </script>
</body>
</html>